-i https://pypi.org/simple
python-dotenv==0.21.0
requests==2.28.1
transitions==0.9.0
wheel==0.37.0
cGraph==0.1
flask==2.2.2
graphviz==0.20.1
line-bot-sdk==2.3.0
pygraphviz==1.10
urllib3==1.26.13
werkzeug==2.2.2
markupsafe==2.1.1
jinja2==3.1.2
itsdangerous==2.1.2
idna==3.4
future==0.18.2
click==8.1.3
certifi==2022.12.7